html,body
   {
   	margin: 0;
   	padding :0;
   }
   
   div.header
   {
    display: block;
   	width: 100%;
    height: auto;
   	margin : 0;
   	padding: 0;
   
   	box-sizing: border-box;
   }

   ul.sidenav 
   {
   	list-style-type: none;
   	margin: 0;
   	padding : 0;
   	width: 12%;
   	background-color :darkgray;
   	position : relative;
   	height : 100%;
   	overflow : auto;
   }

   ul.sidenav li a
   {
    margin: 0;
   	display : block;
   	color : black;
    width: 80px;
   	padding : 8px 16px;
   	font-size: 20px;
    border: 1px solid lightgray;
   	text-decoration : none;
   }

   ul.sidenav li a.active
   {
   	background-color : mediumseagreen;
   	color: white;
   }

   ul.sidenav li a:hover:not(.active)
   {
   	background-color :red;
   	color: white;
   }
   
   div.content
   {
   	margin-left :12%;
   	padding : 1px 16px;
   	height: 100%;
   }	 

  @media screen and (max-width: 3000px)
  {
  	ul.sidenav
  	{ width: 100%;
  	  height : auto;
  	  position : relative; 
  	}
    ul.sidenav li a 
    {
     float : left;

     text-align: center;
     padding :15px;	
    }
    div.content
    {
    	margin-left:0;
    }
  } 
  @media screen and (max-width: 500px)
  {
    ul.sidenav li a
    {
     border: none;
     float : none;
     border :1px solid lightgray;
     text-align: center;
     width: 100%;

    } 
  } 


input[type=text],input[type=number],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    float: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text]:hover,input[type=number]:hover,input[type=email]:hover , #country:hover , textarea:hover
{
  background-color: lightgray;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

