
 
body
   {
   	font-family: Arial;
    background: #f1f1f1;
    padding: 0;
    margin: 0;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
   }

div.blogheader {
  box-sizing: border-box;
  margin-top :10px;
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
div.blogleftcolumn { 
   box-sizing: border-box;  
    float: left;
    width: 75%;
    background-color: #f1f1f1;
    padding: 10px;
}

/* Right column */
div.blogrightcolumn {
  box-sizing: border-box;
    float: left;
    width: 25%;
    padding-top:10px;
    padding-left: 20px;
}

/* Fake image */
div.blogfakeimg {
  box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 300px;
    margin: 0;
    border : 5px solid #0086b3; 
}

.blogiframe
{ margin: 0;
  height: 100% ;
  width:60%;
  box-sizing: border-box;
  float:left;
  border: 5px solid #0086b3 ;
}
.blogpara
{
   margin:0;
   box-sizing: border-box;
   border: 5px solid #0086b3 ; 
   overflow: auto;
   float:right; 
   width: 40%; 
   height: 100%;
   text-align: justify; 
   padding: 10px; 
   padding-top: 20px;

}


/* Add a card effect for articles */
div.blogcard {
  box-sizing: border-box;
     background-color: orange;
     padding: 20px;
     margin-top: 20px;
}

/* Clear floats after the columns */
div.blogrow:after {
  box-sizing: border-box;
    content: "";
    display: table;
    padding :20px;
    clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    div.blogleftcolumn, div.blogrightcolumn {   
        box-sizing: border-box;
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 600px) {
    
    div.blogcard
    {
      
      box-sizing: border-box;
      
    }
    div.blogfakeimg
    {
      
      box-sizing: border-box;
      margin: 0;
      width: 100%;
      height: 500px;
    }
    iframe.blogiframe 
    {   
        box-sizing: border-box;
        padding: 0;
        margin :0;
        float:none;
        width: 100%;
        height: 70%;
        
         
    }
    p.blogpara 
    {   
        box-sizing: border-box;
        margin-top: -5px; 
        border-bottom: 8px solid lightgray;
        float:none;
        text-align: justify;
        overflow: auto;
        height: 31%;
        width: 100%;
       
    }
}
   
   div.header
   {
    display: block;
   	width: 100%;
    height: auto;
   	margin : 0;
   	padding: 0;
   
   	box-sizing: border-box;
   }

ul.sidenav 
   {
    list-style-type: none;
    margin: 0;
    padding : 0;
    width: 12%;
    background-color :darkgray;
    position : relative;
    height : 100%;
    overflow : auto;
   }
   
   ul.sidenav li a
   {
   display : block;
    color : black;
    width: 80px;
    padding : 8px 16px;
    font-size: 20px;
    border: 1px solid lightgray;
    text-decoration : none;
   }

   ul.sidenav li a.active
   {
    background-color : mediumseagreen;
    color: white;
   }

   ul.sidenav li a:hover:not(.active)
   {
    background-color :red;
    color: white;
   }
   
   div.content
   {
    margin-left :12%;
    padding : 1px 16px;
    height: 100%;
   }   

  @media screen and (max-width: 3000px)
  {
    ul.sidenav
    { width: 100%;
      height : auto;
      position : relative; 
    }
    ul.sidenav li a 
    {
     float : left;
     text-align: center;
     padding :15px; 
    }
    div.content
    {
      margin-left:0;
    }
  } 
  @media screen and (max-width: 500px)
  {
    ul.sidenav li a
    {
     border: none;
     float : none;
     border :1px solid lightgray;
     text-align: center;
     width: 100%;

    } 
  } 


  ul.socialnav 
   {
    overflow :hidden;
    list-style-type: none;
    top: 50%;
    right :0;
    position:fixed;
   }





  .fa 
  {
  padding: 10px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 2px;
 }

  .cardfa 
  {
  padding: 10px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 2px;
  border-radius: 50%;
 }

 .fa:hover {
    opacity: 0.7;    
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  background:slateblue;
  color: white;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

