

/* body affix top naigation bar */
body {
     position: relative;
     height: 100%;
     width: 100%;
 }

 .affix {
     top:0;
     width: 100%;
     z-index: 3 !important;
 }
 .navbar {
     margin-bottom: 0px;
 }

 .affix ~ .container-fluid {
    position: relative;
    top: 50px;
 }



/* preloader */
.preloader
{
  background: linear-gradient(270deg, #1068eb, #10ebca, #5beb10, #eb7610, #e410eb, #eb103b, #96c21a);
  background-size: 1400% 1400%;
  position: fixed;
  -webkit-animation: vikaspreloader 16s ease infinite;
  -moz-animation: vikaspreloader 16s ease infinite;
  -o-animation: vikaspreloader 16s ease infinite;
  animation: vikaspreloader 16s ease infinite;
}

  @-webkit-keyframes vikaspreloader {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes vikaspreloader {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes vikaspreloader {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes vikaspreloader {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }


/*loader */
#center
 {
   position:relative;
   top:40%;
   left:0;
   bottom:0;
   right:0;
   margin-top:0;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue", Helvetica;
  font-weight: bold;
  font-size: 10vw;
  text-align: center;
  color: #333;
}

.jump {
  position: relative;
  animation: jump 1.4s ease-in-out infinite;
  -webkit-animation: jump 1.4s ease-in-out infinite;
}
.jump:nth-of-type(1){
  animation-delay:0.2s;
  -webkit-animation-delay:0.1s; /* Safari and Chrome */
}
.jump:nth-of-type(2){
  animation-delay:0.2s;
  -webkit-animation-delay:0.2s; /* Safari and Chrome */
}
.jump:nth-of-type(3){
  animation-delay:0.3s;
  -webkit-animation-delay:0.3s; /* Safari and Chrome */
}
.jump:nth-of-type(4){
  animation-delay:0.4s;
  -webkit-animation-delay:0.4s; /* Safari and Chrome */
}
.jump:nth-of-type(5){
  animation-delay:0.5s;
  -webkit-animation-delay:0.5s; /* Safari and Chrome */
}
.jump:nth-of-type(6){
  animation-delay:0.6s;
  -webkit-animation-delay:0.6s; /* Safari and Chrome */
}
.jump:nth-of-type(7){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s; /* Safari and Chrome */
}


@-webkit-keyframes jump {
  0% { top: 0; }
  50% { top: -50px; }
  100% { top: 0; }
}
@keyframes jump {
  0% { top: 0; }
  50% { top: -50px; }
  100% { top: 0; }
}

@media only screen and (max-width:768px)
{
  @-webkit-keyframes jump {
    0% { top: 0; }
    50% { top: -20px; }
    100% { top: 0; }
  }
  @keyframes jump {
    0% { top: 0; }
    50% { top: -20px; }
    100% { top: 0; }
  }
}

.welcome
{
 height:100%;
 margin:0;
 padding-top:35px;
 font-family:Oleo script;
 font-size:30px;
 background-color:orange;
 color:black;
}

@media screen and (max-width:428px)
{
  .welcome
  {
    font-size: 20px;
    padding-top: 38px;

  }
}



/* progress bar */

.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 17px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 15px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 14px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: dodgerblue;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: orange;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1.3s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #E34234;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: 	#03C03C;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(96deg);
        transform: rotate(96deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(85deg);
        transform: rotate(85deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

/* footer  */
.fa:hover
{
 opacity:0.7;
}



/* parallax */

.parallax {
  height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.pl
{
  padding: 80px;
}

@media only screen and (max-width:768px)
{
  .pl
  {
    padding:30px 20px;
  }
}






/* profiles */
.pcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin:25px 5px;
    background-color:#F2F0E6 ;
    border-radius: 5px;
}

.pcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    margin-top: 15px;
}

.pimg {
    border-radius: 5px 5px 0 0;
}

.pcontainer {
    padding: 2px 16px;
}


/* user ratings */

.userrating
{
  font-family: Arial;
  margin: auto; /* Center website */
  max-width: 800px; /* Max width */
  padding: 20px;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
}

.smiddle {
    margin-top:12px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.sright {
    text-align: right;
}

/* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 500px) {
    .side, .smiddle {
        width: 100%;
    }
    .sright {
        display: none;
    }
}


/* scrolling progress bar */
.scroll-container {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 8px;
  background: #ccc;
}

.scroll-bar {
  height: 8px;
  background: dodgerblue;
  width: 0%;
}



/*  time line */

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.tcontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.tcontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.tleft {
    left: 0;
}

/* Place the container to the right */
.tright {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.tleft::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.tright::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.tright::after {
    left: -16px;
}

/* The actual content */
.tcontent {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .tcontainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .tcontainer::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .tleft::after, .tright::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .tright {
    left: 0%;
  }
}



/* quotes slidedshow*/
.quoteslide
{
  padding: 40px;
  height: 200px;
}

@media all and (max-width:950px)
{
  .quoteslide
  {
     padding:20px;
    height: 125px;
  }
}

@media all and (max-width:600px)
{
  .quoteslide
  {
     padding:20px;
    height: 100px;
  }
}

/*   Visitor */
.visitor
{
 font-size:50px;
}

@media all and (max-width:450px)
{
  .visitor
  {
   font-size:30px;
  }
}

/* prediction graph*/
.predictiongraph
{
  height: 510px;
  width: 100%;
}

@media all and (max-width:950px)
{
  .predictiongraph
  {
   height: 450px;
  }
}

@media all and (max-width:700px)
{
  .predictiongraph
  {
   height: 350px;
  }
}

@media all and (max-width:400px)
{
  .predictiongraph
  {
   height: 250px;
  }
}
