     
      .row
      {
       min-width: 100%;
      }     

      /* The "show" class is added to the filtered elements */
      .show {
          display: block;
      }

      /* Style the buttons */
      .btn1 {
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: white;
        cursor: pointer;
      }

      /* Add a grey background color on mouse-over */
      .btn1:hover {
        background-color: #ddd;
      }

      /* Add a dark background color to the active button */
      .btn1.active {
        background-color: #666;
         color: white;
      }

      .cport {
        position: relative;
      }

     .image1 {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }

      .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }

      .cport:hover .image1 {
        opacity: 0.3;
      }

      .cport:hover .middle {
        opacity: 1;
      }

      .text {
        background-color: tomato;
        color: white;
        font-size: 15px;
        padding: 12px 12px;
      }

       .coupon {
          border: 5px dotted #bbb;
          width: 100%;
          border-radius: 15px;
          margin: 0 auto;
          max-width: 400px;
      }

      .pcontainer {
          padding: 2px 6px;
          background-color: #f1f1f1;
      }

      .promo {
          background: #ccc;
          padding: 3px;
      }

      .expire {
          color: red;
      }    


      .progress-container {
        bottom: 0;
        position: fixed;
        width: 100%;
        height: 8px;
        background: #ccc;
        z-index: 999;

      }

      .progress-bar {
        height: 8px;
        background: #4caf50;
        width: 0%;
      }     

      .list-group-item{
        border: 1px solid blue;
        padding: 50px 20px;
        background-color: white;
        text-align: justify-all;
      }


.demo{ background: #333; }
.pricingTable{
    text-align: center;
    background: #f95b34;
    transition: all 0.3s ease 0s;
}
.pricingTable:hover{
    background: #f95b34;
}
.pricingTable .pricingTable-header{
    padding: 25px 0;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.pricingTable:hover .pricingTable-header{
    color: #222;
}
.pricingTable .icon{
    display: block;
    font-size: 50px;
    margin-bottom: 10px;
}
.pricingTable .title{
    display: block;
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px 0;
}
.pricingTable .price-value{
    display: inline-block;
    font-size: 45px;
    position: relative;
}
.pricingTable .currency{
    font-size: 25px;
    position: absolute;
    top: 13px;
    left: -19px;
}
.pricingTable .month{
    font-size: 20px;
    position: absolute;
    top: 32px;
    right: -65px;
}
.pricingTable .pricing-content{
    padding: 35px 0;
    background: #222;
    border-radius: 30px 30px 0 0;
    color: #fff;
}
.pricingTable .pricing-content ul{
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.pricingTable .pricing-content ul li{
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
}
.pricingTable .pricingTable-signup{
    display: inline-block;
    padding: 8px 40px;
    border-radius: 30px;
    border: 1px solid #595555;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    transition: all 0.5s ease 0s;
}
.pricingTable .pricingTable-signup:hover{
    background: #f95b34;
    border-color: #f95b34;
    color: #222;
}
@media only screen and (max-width: 400px){
    .pricingTable{ margin-bottom: 30px; }
}

.particle_container
{ 
    font-family: 'Source Sans Pro';
    position: absolute;
    z-index: 10;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    text-transform: uppercase;
    width: 100vw;  height: 100vh;
}

.flx
{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}


.tbox-scene {
    -webkit-perspective: 11000;
    -ms-perspective: 11000;
    -moz-perspective: 11000;
    -o-perspective: 11000;

    width: 310px;
    height: 310px;
    z-index: 9;
    margin: 25px auto;
}


.tbox {
    width: 310px;
    height: 310px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.4s ease-out;
    -webkit-transform-origin: 90px 90px -90px ;    

    -ms-transform-style: preserve-3d;
    -ms-transition: all 0.4s ease-out;
    -ms-transform-origin: 90px 90px -90px ;    

    -moz-transform-style: preserve-3d;
    -moz-transition: all 0.4s ease-out;
    -moz-transform-origin: 90px 90px -90px ;    

    -o-transform-style: preserve-3d;
    -o-transition: all 0.4s ease-out;
    -o-transform-origin: 90px 90px -90px ;    


}

.tface {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: visible;  
    -webkit-transform-origin: 0 0;

    -ms-backface-visibility: visible;  
    -ms-transform-origin: 0 0;

    -moz-backface-visibility: visible;  
    -moz-transform-origin: 0 0;

    -o-backface-visibility: visible;  
    -o-transform-origin: 0 0;

}

.tfront {
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);

    z-index: 2;
    background: #d9d9d9;
}
.tside {
    background: #9dcc78;
    -webkit-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);

    z-index: 1;
    left: 0px;
    height: 310px;
    width: 310px;
    top:310px;
}

.tbox-scene:hover .tbox {
    -webkit-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);

}

.timg
{
  border:7px solid whitesmoke;  
  width: 150px; 
  height: 150px; 
  border-radius: 50%;
}

.th1
{
  font-size: 25px; 
  font-weight: 500; 
  display: inline-block; 
  padding-top: 10px
}

@media only screen and (min-width: 1320px) 
{
 
  .tbox-scene {
      width: 270px;
      height: 270px;
  }

  .tbox {
      width: 270px;
      height: 270px;
  }

  .tside {
      height: 270px;
      width: 270px;
      top:270px;
  }
  
  .timg
  {
    border:6px solid whitesmoke;  
    width: 140px; 
    height: 140px; 
    border-radius: 50%;
  }
 
  .th1
  {
    font-size: 23px; 
    font-weight: 500; 
    display: inline-block; 
    padding-top: 10px
  }
}
 
 @media only screen and (min-width: 1014px) 
{
 
  .tbox-scene {
      width: 265px;
      height: 265px;
  }

  .tbox {
      width: 265px;
      height: 265px;
  }

  .tside {
      height: 265px;
      width: 265px;
      top:265px;
  }

  .timg
  {
    border:6px solid whitesmoke;  
    width: 140px; 
    height: 140px; 
    border-radius: 50%;
  }

}


 @media only screen and (min-width: 767px) 
{
 
  .tbox-scene {
      width: 300px;
      height: 300px;
  }

  .tbox {
      width: 300px;
      height: 300px;
  }

  .tside {
      height: 300px;
      width: 300px;
      top:300px;
  }

  .timg
  {
    border:6px solid whitesmoke;  
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
  }

}


   #space
   {
     margin-left:30%;
   }

   @media only screen and (max-width: 1090px) {
    #space {
        margin-left: 0;
        display: none;
    }
   }
 
    #contact{
      text-align: center;
      color: white;
      background-color: #17a2b8;
      padding: 30px 20px;
    }
   #map{
     width:100%;
     height:600px;
   }
   @media only screen and (max-width: 992px) {
    #map {
      margin-top: 10px;
      width:100%;
      height:400px;
    }
    #contact
    {
      padding: 0px;
    }

    .half
    {
      margin-bottom: 0px ;
    }
}



#contact_right
{
  border-left: solid cyan 2px;
  padding: 0px 100px;
}
 @media only screen and (max-width: 992px) {
   #contact_right
   {
      border-left: solid teal 0px;
       padding: 10px 0px;
       padding-top: 50px;
   }
 }
